html{
    background-color: brown;

}

body{
    background-color: aqua;
    margin: 0;

}

.sidebar{
    background-color: rgb(24,24,24);
    height: 100vh;
    width: 200px;
    position: fixed;

}

.main{
    background-color: rgb(31,31,31);
    height: 100vh;
    width: calc(100vw -200px);
    margin-left: 200px;

}

.test{
    margin: 0;
}